*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box ;
}
body{
    background: #000000;
    color: #fff ;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
}

#inicio {
    background-image: url('images/background.png');
    background-size: cover;             
    background-position: center;        
    background-repeat: no-repeat;
    height: 110vh;                      
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 820px;
  }
  

#sobre{
    max-width: 800px;
    margin: 80px auto;
    margin-top: 200px;
    margin-bottom: 250px;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
    color: black;
    background-color:rgb(180, 180, 180);  
}

#do{
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
    color: black;
    background-color:rgb(180, 180, 180);
}

#do h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}
#contato{
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
    color: black;
    background-color:rgb(180, 180, 180);
}
.contato-lista {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.contato-lista li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}
  
.contato-lista a {
    color: #333;
    text-decoration: none;
}
  
.contato-lista a:hover {
    text-decoration: underline;
    color: #000;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* deixa o movimento do transform mais suave*/
}

.card:hover {
    transform: translateY(-10px); /* permite transforçoes visuais em um elemente, valor negativo move pra cima, positivo pra baixo*/
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.card .icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
  
.card h3 {
    font-size: 1.2rem; /* deixa o texto maior que o normal*/
    margin-bottom: 10px;
    text-align: center;
}
  
.card p {
    font-size: 0.95rem;
    color: #555;
    text-align: center;
}

span{
    color: white;
}

nav{
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    
}

nav p {
    margin: 0 20px;          /* espaço horizontal entre os itens */
    cursor: pointer;         /* cursor de clique */
    color: white;            /* cor do texto, ajustável */
    font-weight: bold;       /* opcional, para destacar */
}


